<!DOCTYPE html>
<html>
<head>
    <title>Hello {{ name }}</title>
    <style>

canvas {
    box-sizing: border-box;
    display: block;
    float: left;
    width: 49%;
    height: auto;
    margin: 1em .5%;
    outline: 1px solid black;
    border: 1px solid black;
}

form {
    clear: both;
}

    </style>
    <script>

async function submitLayoutDifference() {
    try {
        let messageBox = document.getElementById("message");
        messageBox.innerText = "";

        let inputs = [document.getElementById("layoutDifferenceA"), document.getElementById("layoutDifferenceB")];

        let requestBody = JSON.stringify(await Promise.all(inputs.map(async input => await readJSON(input))));

        console.log(requestBody);

        let response = await fetch("{{ url_for('upload') }}", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: requestBody, // body data type must match "Content-Type" header
        });

        console.log(response);

        if (response.ok) {
            console.log("Parsing response…");
            let jsonObj = await response.json();
            console.log(jsonObj);
            messageBox.innerText = JSON.stringify(jsonObj, null, 2);
        }

    } catch (e) {
        console.log(e);
    }
}

async function submitLayoutEngine() {
    console.log("Submitting to layout engine…");
    try {
        console.log("Parsing layout…");
        let layout = await readJSON(document.getElementById("layoutEngineFile"));
        console.log('Request Body:', layout);

        drawLayout("layoutEngineInput", layout);

        console.log("Uploading layout…");
        let response = await fetch("{{ url_for('optimize_layout') }}", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ layout }), // body data type must match "Content-Type" header
        });
        console.log(response);

        if (response.ok) {
            console.log("Parsing response…");
            let optimizedLayout = (await response.json()).layout;
            console.log(optimizedLayout);
            drawLayout("layoutEngineOutput", optimizedLayout);
        }

    } catch (e) {
        console.log(e);
    }
}

function drawLayout(canvasId, layout) {
    console.log(canvasId, layout);
    let canvas = document.getElementById(canvasId);
    canvas.width = layout.canvasWidth;
    canvas.height = layout.canvasHeight;

    let ctx = canvas.getContext("2d");
    ctx.fillStyle = "whitesmoke";
    ctx.fillRect(0, 0, canvas.width, canvas.height);

    ctx.strokeStyle = "black";
    ctx.font = "48px sans-serif";
    ctx.textBaseline = "hanging";

    for (let element of layout.elements) {
        ctx.fillStyle = "rgba(0,0,0,0.25)";
        ctx.fillRect(element.x, element.y, element.width, element.height);
        ctx.strokeRect(element.x, element.y, element.width, element.height);
        ctx.fillStyle = "black";
        ctx.fillText(element.id, element.x, element.y, element.width);
        console.log(element);
    }
}

function readJSON(input) {
    return new Promise((resolve, reject) => {
        if (typeof window.FileReader !== 'function') {
            alert("The file API isn't supported on this browser yet.");
            reject();
            return;
        }
        if (!input.files) {
            alert("This browser doesn't seem to support the `files` property of file inputs.");
            reject();
            return;
        } else if (!input.files[0]) {
            alert("Please select a file before clicking 'Load'");
            reject();
            return;
        }
        let reader = new FileReader();
        reader.onload = () => {
            let result = JSON.parse(reader.result);
            if (result.hasOwnProperty('layouts') && result.layouts.length) {
                // Handle two different formats of JSON
                result = result.layouts[0];
            }
            resolve(result);
        };
        reader.readAsText(input.files[0]);
    });
}

    </script>
</head>
<body>

<form id="layoutDifferenceForm" onsubmit="event.preventDefault()">
    <fieldset>
        <legend>Layout Difference</legend>
        <label>Layout A <input type="file" id="layoutDifferenceA" name="layoutA"  required /></label>
        <label>Layout B <input type="file" id="layoutDifferenceB" name="layoutB" required /></label>
        <input type="submit" />
    </fieldset>
</form>

<pre id="message">{{ message }}</pre>

<form id="layoutEngineForm" onsubmit="event.preventDefault()">
    <fieldset>
        <legend>Layout Engine</legend>
        <label>Layout <input type="file" id="layoutEngineFile" name="layout" required /></label>
        <input type="submit" />
    </fieldset>
</form>

<canvas id="layoutEngineInput"></canvas>
<canvas id="layoutEngineOutput"></canvas>

<form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data">
    <fieldset>
        <legend>Bad Form</legend>
        <input type="file" name="wrong_name" />
        <input type="submit" />
    </fieldset>
</form>

<script>

document.getElementById("layoutDifferenceForm").addEventListener("submit", (event) => {
    event.preventDefault();
    submitLayoutDifference();
}, false);

document.getElementById("layoutEngineForm").addEventListener("submit", (event) => {
    event.preventDefault();
    submitLayoutEngine();
}, false);

</script>

</body>
</html>